# editorconfig.org
root = true

# Global settings
[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{c,cpp,h,hpp,hxx}]
max_line_length = 140

# Solution Files
[*.sln,xml]
indent_style = tab

# Xml project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# Configuration Files
[*.{json,xml,yml,config,props,targets,nuspec,resx,ruleset,xaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
max_line_length = 80

# Shell scripts
[*.sh]
end_of_line = lf

[*.{cmd, bat}]
end_of_line = crlf
